@charset "utf-8";
body{ background:#fff none; margin:0px; padding:0px; color:#565656; font:normal normal normal 75%/18px 'Open Sans', Arial, 'Microsoft JhengHei', '\5FAE\x8F6F\6B63\9ED1\4F53','Microsoft YaHei', '\5FAE\8F6F\96C5\9ED1', 'Titillium Web'; height: 100%; }
@media screen and (-webkit-min-device-pixel-ratio:0) {  body { -webkit-text-size-adjust:none; } }
/* Firefox Scrollbar Hack - Do not remove */
html {margin-bottom: 1px; height: 100%!important; height: auto;}

td,tr,div,p,span,strong{line-height:18px; padding:0px;	font-size:100%;	}
p { margin:0px 0px 18px 0px; }
h1, h2, h3, h4, h5 { padding:0px; margin:0px 0px 24px; color:#51a910; font-weight:700; }

h1 {font-size:200%; line-height:26px; } /*font-size:24px; line-height:26px;*/
h2 {font-size: 183%; line-height:24px; } /* font-size: 22px; line-height:24px;*/
h3 { font-size:150%; line-height:24px; }/* font-size: 18px; line-height:24px*/
h4 {font-size: 133%; line-height:18px; } /* font-size: 16px; line-height: 18px;*/
h5 {font-size: 116%; line-height:18px; } /* font-size: 14px; line-height:18px; */

a, a:link, a:visited, a:hover {color: #51a910; text-decoration: none; font-weight: normal;}
a:hover { cursor:pointer; text-decoration:underline;}

img { max-width:100%;}
a img { border:medium none; cursor:pointer;}

input, select{ color:#888888; padding:2px; font-size:12px; border:1px solid #c4c4c4; }
input[ type="text"], input[type="password"] { outline:none; vertical-align:middle; line-height:16px; padding:2px 2px 2px 8px;}

input[type="checkbox"],input[type="radio"] { border:medium none !important; width:auto !important; height:auto !important; vertical-align:top;}

button, input[type=button],input[type=reset],input[type=submit], input.button, button.button { cursor:pointer;  padding:7px 18px; font-size:12px; line-height:12px; vertical-align:middle;  font-weight:400; color:#FFF; background:#5e5e5e url(../images/bg-button.png) repeat-x left top; border:medium none; font-style:normal;}
button:hover, input[type=button]:hover,input[type=reset]:hover,input[type=submit]:hover, input.button:hover, button.button:hover { }

textarea { color:#555; padding:2px; font-size:12px; border:1px solid #c4c4c4; font-family:'Arial', 'Microsoft YaHei', '\5FAE\8F6F\96C5\9ED1'; }

table { width:100%; border-collapse:collapse; margin-bottom:20px;}
table td, table th { padding: 6px 12px; border: solid 1px #c4c4c4;}
table th, table thead td, table tfoot td { background:#5e5e5e none; color: #FFF; text-align: left;  }

ul,ol { margin:0px 0px 18px 0px;}
ul li{ list-style:disc inside; margin-left:20px;}
ol li { list-style:decimal inside;  margin-left:20px; }

#wrapper { margin:0 auto -32px; width: 100%;  min-height:100%; overflow:hidden; }


/*Note frame*/
.pop-note { position: absolute; left: 50%; margin-left: -168px; top: 50%; margin-top: -180px;  width: 326px; min-height: 260px; background: #e9e5dd none; border-radius: 5px; box-shadow: #888 0 0 10px; }
.pop-note > h1 { position: absolute; width: 100%; height: 60px; left: 0; top: -68px; text-indent: -9999px; background: transparent url(../images/logo.png) no-repeat center center; }
.pop-note .content { padding: 20px 12px 8px; text-align: center; }
.pop-note h2 { width: 90%; line-height: 28px; margin: 0 auto 24px; text-align: center; text-transform: uppercase; font-weight: 400; }
.pop-note h2 strong { display: block; margin-top: 12px; color: #f1cc00; }

#footer {  height:24px; text-align: center; padding: 4px 0; line-height: 24px; }
#footer a, #footer a:hover { color: #565656 !important; text-decoration: none; }

