/* PRINT CSS
*********************************************/
@import url("reset.css");

html {height:100%; margin-bottom:1px; overflow-y:scroll;}
body {background-color:#fff; color:#000; font:normal normal normal 75%/125% arial,sans-serif; height:100%; text-align:center;}


/* underline all links */
a:link,
a:visited {
  text-decoration: underline !important;
}

/* Don't underline header */
body a:link,
body a:visited {
  text-decoration: none !important;
}

/* CSS2 selector to add visible href after links */
body a:link:after,
body a:visited:after {
  content: "";
  font-size: 0.8em;
  font-weight: normal;
}

/* LAYOUT
*********************************************/
#wrapper {height:100%; margin:0 auto; text-align:left; width:100%;}
